* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

:root {
    --font: #0E0201;
    --background: #FEF6F6;
    --secondaryBackground: #F5EBEE;
    --WindowBackground: #FFFFFF;
    --mainDetail: #D21312;
    --secondaryDetail: #FFB084;
}