:root {
    --font: rgba(14, 2, 1, 1);
    --font70: rgba(14, 2, 1, 0.7);
    --background: rgba(254, 246, 246, 1);
    --secondaryBackground: rgba(245, 235, 238, 1);
    --WindowBackground: rgba(255, 255, 255, 1);
    --mainDetail: rgba(210, 19, 18, 1);
    --secondaryDetail: rgba(255, 176, 132, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-size: var(--fontSize20);
    color: var(--font);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

body {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

textarea {
    border: none;
    outline: none;
}

.container {
    max-height: 100vh;
    aspect-ratio: 16 / 8;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.whiteWindow {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.3em 0.3em rgba(0, 0, 0, 0.25);
    background-color: var(--WindowBackground);
}

.whiteWindow.messages {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 16em;
    display: none;
}

.whiteWindow.messages.active {
    display: block;
}

.messages .closeButton {
    top: 1em;
    left: 11.5em;
}

.messages .mainText {
    font-size: calc(var(--fontSize20) * 2);
    color: var(--mainDetail);
    margin: 1em 0 0 1em;
}

.messages .errorMessage,
.messages .codeMessage {
    font-size: calc(var(--fontSize20) * 1.2);
    padding: 0 1em;
    margin: 0 0 2em 0;
}

/* authorization box */
.authorizationBox {
    width: 26.5rem;
    /* height: 31rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.authorizationBox h2 {
    color: var(--mainDetail);
    font-size: calc(var(--fontSize20) * 2);
    margin: 0.8em 0 1.8em;
}

.standardInput {
    background-color: var(--secondaryDetail);
    box-shadow: inset 0px 0.15em 0.15em rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    width: 15.7em;
    height: 2em;
    font-size: calc(var(--fontSize20) * 1.3);
    padding: 0 0.8em;
}

.textLabel {
    color: var(--font70);
}

.textLabel a {
    color: var(--mainDetail);
}

.textLabel p {
    position: relative;
}

.textLabel span {
    color: var(--mainDetail);
    position: absolute;
    right: 3.2em;
}

.submitButton {
    background-color: var(--mainDetail);
    border-radius: 0.4rem;
    font-size: calc(var(--fontSize20) * 1.6);
    color: white;
    text-align: center;
    height: 2.1em;
    padding: 0 1.5em;
    box-shadow: 0.1em 0.1em 0 0 var(--font);
    margin: 2.3em auto 1.8em auto;
    display: block;
}

.submitButton:hover {
    cursor: pointer;
    box-shadow: inset 0px 0.15em 0.15em rgba(0, 0, 0, 0.25);
}

.authorizationForm {
    display: block;
    margin: auto;
    width: min-content;
}

.inputBox p {
    margin: 0.3em 0;
}

.authorizationForm .inputBox {
    margin-bottom: 1.8em;
}

.authorizationFooter {
    margin: 0 0 2em 2.2em;
}

.errorMessage {
    text-align: center;
    color: var(--mainDetail);
}

.codeMessage {
    text-align: center;
}

.resetPassword .closeButton {
    left: 21.5em;
}

.changePassword .closeButton {
    left: 21.5em;
}

/* menu button */
.menuButton {
    position: absolute;
    height: 3.8em;
    width: 4.8em;
    top: 1em;
    right: 1em;
    z-index: 1;
}

.menuButton:hover {
    cursor: pointer;
}

.menuButton:hover span {
    box-shadow: inset 0px 0.15em 0.15em rgba(0, 0, 0, 0.25);
}

.menuButton span {
    height: 0.8em;
    width: 4.75em;
    background-color: var(--mainDetail);
    display: block;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em 0 0 var(--font);
    position: absolute;
    transition: 0.4s ease-in-out;
}

.menuButton span:nth-child(1) {
    top: 0;
    z-index: 1;
}

.menuButton span:nth-child(2) {
    top: 1.3em;
}

.menuButton span:nth-child(3) {
    top: 2.6em;
    z-index: 0;
}

.menuButton.active span:nth-child(1) {
    top: 1.3em;
    rotate: 45deg;
}

.menuButton.active span:nth-child(2) {
    opacity: 0;
}

.menuButton.active span:nth-child(3) {
    top: 1.3em;
    rotate: -45deg;
}

.informationIcon {
    width: 1em;
    height: 1em;
    opacity: 0.7;
    margin: 0 0 -0.1em 0.2em;
}

.informationBox {
    position: relative;
}

.informationBox:hover::before {
    box-sizing: border-box;
    content: "";
    height: 1.5rem;
    width: 8.5rem;
    padding: 0.3rem 0.9rem;
    background-color: var(--secondaryBackground);
    display: inline-block;
    position: absolute;
    top: -2rem;
    left: -0.5rem;
    font-size: calc(var(--fontSize20) * 0.8);
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0 0 var(--font);
    text-align: center;
    color: var(--font);
}

.informationBox.username:hover::before {
    content: "Min 4, Max 32";
}

.informationBox.password:hover::before {
    content: "Min 8, Max 64";
}

.informationBox {
    position: relative !important;
    right: unset !important;
}

/* dimmer */
.dimmer {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 2, 1, 0.5);
    top: 0;
    left: 0;
    transition: 0.4s ease-in-out;
    z-index: 1;
    pointer-events: none;
}

.dimmer.active {
    opacity: 1;
}

/* change name box */
.changeNameBox {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -100% -50%;
    height: fit-content;
    width: 32.5rem;
    z-index: 1;
    display: none   ;
    transition: 0.4s ease-in-out;
}

.changeNameBox.active {
    display: block;
}

.changeNameBox .standardInput {
    margin: 2.5rem 0 0 6rem;
}

.changeNameBox .mainText {
    font-size: calc(var(--fontSize20) * 2);
    color: var(--mainDetail);
    margin: 2rem 0 0 3rem;
}

/* warning message */
.warningMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -100% -50%;
    height: fit-content;
    width: 32.5rem;
    z-index: 1;
    display: none;
    transition: 0.4s ease-in-out;
}

.warningMessage.active {
    display: block;
}

.deleteAccountSubmitButton {
    display: flex;
    align-items: center;
    width: fit-content;
}

.closeButton {
    position: absolute;
    top: 1.5em;
    left: 27.5em;
    width: 3.5em;
    height: 3em;
    cursor: pointer;
}

.closeButton span {
    position: absolute;
    background-color: var(--mainDetail);
    box-shadow: 0.1em 0.1em 0 0 var(--font);
    height: 0.65em;
    width: 3.75em;
    display: block;
    border-radius: 0.4rem;
}

.closeButton:hover span {
    box-shadow: inset 0px 0.15em 0.15em rgba(0, 0, 0, 0.25);
}

.closeButton span:nth-child(1) {
    rotate: -45deg;
    top: 1.2em;
}

.closeButton span:nth-child(2) {
    rotate: 45deg;
    top: 1.2em;
}

.warningMessage .mainText {
    font-size: calc(var(--fontSize20) * 2);
    color: var(--mainDetail);
    margin: 2rem 0 0 3rem;
}

.warningMessage p {
    font-size: calc(var(--fontSize20) * 1.2);
    margin: 1rem 0 0 3.5rem;
}

.warningMessage .information {
    color: var(--font70);
    margin: 1rem 0 0 4rem;
}

/* send feedback box */

.sendFeedbackBox {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -100% -50%;
    height: fit-content;
    width: 42.5rem;
    z-index: 1;
    display: none;
    transition: 0.4s ease-in-out;
}

.sendFeedbackBox.active {
    display: block;
}

.sendFeedbackBox .mainText {
    font-size: calc(var(--fontSize20) * 2);
    color: var(--mainDetail);
    margin: 2rem 0 0 3rem;
}

.standardInput.body {
    height: 10em;
}

.sendFeedbackBox .closeButton {
    left: 37.5rem;
}

.sendFeedbackBox .inputBox {
    margin: 1em 0 0 3em;
}

.inputBox textarea {
    width: 28em;
    height: 10em;
    min-height: 10em;
    max-width: 28em;
    min-width: 28em;
}

.sendFeedbackBox .inputBox .standardInput {
    width: 28em;
}


/* menu */
.menu {
    position: absolute;
    background-color: var(--background);
    height: 100vh;
    width: 30vw;
    z-index: 1;
    left: 105vw;
    top: 0;
    right: 0;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

.menu.active {
    left: 70vw;
    opacity: 1;
}

.menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4.95vw;
    width: 0;
    height: 0;
    border-bottom: 100vh solid transparent;
    border-right: 5vw solid var(--background);
}

.menuInside {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -5vw;
}

.menuInside hr {
    border-top: 0.15em solid var(--mainDetail);
    height: 0;
}

.signOutIcon {
    height: 2em;
    width: 2em;
    margin: 0 0 -0.2em 1em;
}

.menuInside .binIcon,
.menuInside .exportIcon {
    height: 1.75em;
    width: 1.75em;
    margin: 0 0 -0.5rem 0.5rem;
}

.flagIcon {
    height: 3rem;
    width: 3rem;
    margin-right: 0.7em;
}

.editNameIcon {
    height: 1.5em;
    width: 1.5em;
    margin: 0 0 -0.1em 0.5em;
    cursor: pointer;
}

.insideMenuButton {
    background-color: var(--secondaryBackground);
    border-radius: 0.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    box-shadow: 0.1em 0.1em 0 0 var(--font);
    width: fit-content;
    padding: 0 1rem;
    cursor: pointer;
}

.insideMenuButton:hover {
    box-shadow: inset 0px 0.15rem 0.15rem rgba(0, 0, 0, 0.25);
}

.insideMenuButton p {
    font-size: calc(var(--fontSize20) * 1.2);
}

.menuInside h3 {
    font-size: calc(var(--fontSize20) * 3);
    color: var(--font);
    text-shadow: 0.1rem 0.1rem 0 var(--mainDetail);
    margin: 0.5em 0 0.3em 1.5em;
}

.menuInside hr {
    position: absolute;
    left: 2em;
    width: 108%;
}

.signState .username {
    font-size: calc(var(--fontSize20) * 1.6);
    opacity: 0.7;
    margin: 0.8em 0 0 1em;
}

.deleteAccountButton p {
    font-size: var(--fontSize20);
    color: var(--mainDetail);
}

.signOut {
    font-size: calc(var(--fontSize20) * 1.6);
    color: var(--mainDetail);
    position: absolute;
    bottom: 1.5em;
    right: -1em;
    cursor: pointer;
}

.sendFeedback {
    opacity: 0.7;
    margin: 3rem 0 0 15.3rem;
    cursor: pointer;
}

.selectedLanguage {
    box-shadow: 0.1em 0.1em 0 0 var(--mainDetail);
}

.signState {
    margin: 3em 0 0 4em;
}

.signState p {
    font-size: calc(var(--fontSize20) * 1.8);
}

.languageButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17.5em;
    margin: 4rem 0 0 10rem;
}

.exportButton {
    width: 17.5rem;
    text-align: center;
    margin: 2rem 0 0 10rem;
}

.deleteAccountButton {
    width: 16rem;
    text-align: center;
    margin: 2rem 0 0 10.75rem;
}

.insideMenuButton.language {
    display: flex;
    align-items: center;
}